$red: #ff5400;
$grey: #666666;
$white: #fff;
$black: #000;
$bg: rgb(20, 20, 20);
$fstitle: 50px;

//adaptive
$adaptivefs1: 18px;
$adaptivetitle1: 36px;
$adaptivepadding1: 80px 0;
$adaptivepadding2: 40px 0;
