//dispay 992, 768, 480, 320
@media (max-width: 1140px) {
  //info
  .info{
    padding: 80px 10px;
  }
  //stages
  .stages{
    padding: $adaptivepadding1;
    &__img-svg svg {
      width: 900px;
    }
    &__title{
      padding-top: 0;
    }
  }
  //feetback
  .feetback{
    padding: $adaptivepadding1;
  }
  .advantage{
    padding: 50px 0;
  }
  .modal{
    padding: 100px 0 0 0;
  }
}

@media (max-width: 992px) {
  //header
  .container {
    max-width: 970px;
  }
  //header
  .nav {
    &__list {
      right: 10px;
    }
    &__item:not(:last-child) {
      margin-right: 10px;
    }
  }
  //info
  .info {
    padding: $adaptivepadding1;
    &__inner {
      flex-direction: column;
      align-items: center;
    }
    &__text {
      max-width: 100%;
      font-size: 18px;
      line-height: 26px;
      margin: 00px;
    }
    &__frame iframe {
      max-width: 660px;
    }
  }
  //training
  .training {
    &__title {
      font-size: 26px;
      width: 250px;
    }
    &__text {
      font-size: 18px;
      line-height: 26px;
    }
  }
  .sidebar {
    &__content {
      margin-top: 0;
    }
  }
  .ofp {
    margin-left: 0;
  }

  //stages
  .stages {
    padding: $adaptivepadding1;
    &__inner {
      margin-top: 0;
    }
    &__img svg {
      width: 940px;
    }
    &__title {
      font-size: $adaptivetitle1;
    }
    &__subtitle {
      font-size: 22px;
      margin: 30px 0;
    }
    &__list {
      font-size: 18px;
      grid-template-columns: repeat(2, 1fr);
    }
    &__item img {
      width: 100%;
    }
    &__item:nth-child(7) {
      display: none;
    }
    &__item:nth-child(1),
    &__item:nth-child(3),
    &__item:nth-child(2),
    &__item:nth-child(5) {
      grid-column: span 1;
      grid-row: span 1;
    }

    &__span {
      font-size: 30px;
    }
  }
  //advantage
  .advantage {
    padding: $adaptivepadding1;
    font-size: 18px;
    &__inner {
      grid-template-columns: repeat(4, 1fr);
    }

    &__content:nth-child(5) {
      grid-column: span 2;
      grid-row: span 1;
    }

    &__content:nth-child(1),
    &__content:nth-child(6) {
      grid-column: span 3;
      grid-row: span 1;
    }
    &__count {
      font-size: 40px;
      font-weight: 700;
      margin: 10px;
    }
    &__title {
      font-size: 36px;
    }
  }
  //price
  .section-prices {
    overflow: hidden;
    padding-top: 100px;
  }
  .list-boxs .card .head {
    font-size: 18px;
  }
  .price__item {
    font-size: 16px;
  }
  .feetback {
    padding: $adaptivepadding1;
    overflow: hidden;
    &__inner {
      margin-top: $adaptivepadding1;
      gap: 30px;
    }
  }
  //modal
  .modal {
    overflow: hidden;
    &__inner {
      padding: 0 10px;
      justify-content: center;
    }
    &__price {
      width: 400px;
      height: 400px;
      padding-right: 30px;
    }
    &__input {
      font-size: 18px;
      line-height: 22px;
    }
    &_btn {
      width: 30%;
      margin-top: 0px;
    }
    &__price {
      box-shadow: -24px -24px 11px $grey, 24px 24px 11px $red;
      padding-right: 30px;
    }
  }
}
@media (max-width: 768px) {
  .container {
    max-width: 750px;
  }

  //header

  

  //info
  .info {
    padding: 30px 5px;
    &__inner {
      
      flex-direction: column;
    }
    &__text {
      max-width: 100%;
      font-size: 18px;
      line-height: 26px;
      margin: 30px 0px 60px 0px;
    }
    &__frame iframe {
      max-width: 550px;
      max-height: 380px;
      margin-bottom: 100px;
    }
  }
  //training
  .training {
    display: none;
  }

  .adaptive {
    
    background: $bg;
    display: block;
    &__cards {
      overflow: hidden;
    }
    &__item {
      width: 500px;
      height: 50px;
      background: white;
      margin-top: 10px;
      transform: translateX(-400px);
      &:hover {
        transition: all 1s ease-in-out;
        transform: translateX(0);
        cursor: pointer;
      }
    }
    &__inner {
      overflow: hidden;
      img {
        width: 100%;
        height: 100%;
      }
    }
    &__img {
      overflow: hidden;
      margin: 0 auto;
      display: block;
    }
    &__contentbox {
      position: relative;
      overflow: hidden;
      max-width: 630px;
      max-height: 700px;
      margin: auto;
      // &:hover .adaptive__content {
      //   background: rgba(0, 0, 0, 0.5);
      //   bottom: 10px;
      //   left: 8px;
      //   transform: translateY(0px);
      //   transition: transform 0.3s ease-in-out;
      // }
    }
    &__content {
      max-width: 100%;
      z-index: 2;
      position: absolute;
      bottom: 0px;
      left: 0;
      color: $white;
      // transform: translateY(250px);
      background: rgba(0, 0, 0, 0.5);
      padding: 10px;
    }
    &__title {
      font-size: 25px;
    }
    &__text {
      font-size: 20px;
    }
    &__arrow {
      background: $red;
      padding: 5px;
      border-radius: 15px;
    }
    &__content-arrow {
      display: flex;
      justify-content: center;
    }
  }
  .arrow-left {
    transform: rotate(90deg);
  }
  .arrow-right {
    transform: rotate(-90deg);
  }
  .prev,
  .next {
    background: transparent;
  }
  //stages
  .stages{
    padding: 50px 0;
    &__inner{
      margin-top: 80px;
    }
  }
  .stages__img-svg {
    display: none;
  }
  .adaptive_stages__img {
    display: flex;
    justify-content: center;
  }
  .stages {
    &__item:nth-child(2),
    &__item:nth-child(6),
    &__item:nth-child(1),
    &__item:nth-child(5) {
      grid-column: span 2;
      grid-row: span 2;
    }
  }
  //price
.section-prices{
  padding: 60px 0;
}
.section-prices .section-header{
  margin-bottom: 20px;
}
  .list-boxs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }
  .list-boxs .card {
    width: 400px;
  }
  //advantage
  .advantage {
    padding: 50px 0;
    overflow: hidden;
    &__inner {
      grid-template-columns: repeat(2, 1fr);
    }
    &__content:nth-child(1),
    &__content:nth-child(6) {
      background: $red;
      grid-column: span 1;
      grid-row: span 1;
      text-align: left;
    }
  }
  //feetback
  .feetback__video-content {
    justify-content: center;
    flex-wrap: wrap;
  }
  .feetback__item {
    max-width: 600px;
  }

  //modal
  .modal {
    padding-top: 50px;
    overflow: hidden;
    &__inner {
      padding: 0 10px;
      justify-content: center;
    }
    &__price {
      width: 300px;
      height: 300px;
      padding-right: 30px;
    }
    &__input {
      font-size: 18px;
      line-height: 22px;
      margin: 0;
    }
    &_btn {
      width: 30%;
      margin-top: 0px;
    }
    &__price {
      box-shadow: -24px -24px 11px $grey, 24px 24px 11px $red;
      padding-right: 30px;
    }
  }
  .club__img{
    flex-direction: column;
    align-items: center;
    justify-content: center;
    img{
      width: 80%;
    }
  }
  .footer{
    padding-top: 150px;
  }
}
@media (max-width: 576px) {
  //header
  .nav {
    &__logo {
      display: none;
    }
    &__list {
      right: 10%;
    }
  }
  .info{
    &__inner{
      padding: 30px 0;
    }
    &__frame iframe {
      max-width: 400px;
      max-height: 300px;
      margin-bottom: 0;
    }
    &__text{
      margin-bottom: 50px;
    }
  }
  
  //
  .advantage {
    overflow: hidden;
    &__inner {
      grid-template-columns: repeat(1, 1fr);
    }
    &__content:nth-child(1),
    &__content:nth-child(5),
    &__content:nth-child(6) {
      background: $red;
      grid-column: span 1;
      grid-row: span 1;
      text-align: left;
    }
  }
  .stages{
    padding: 0;
    &__inner{
      margin-top: 3px;
    }
  }
  .adaptive_stages__img{
    svg {
    width: 400px;
    display: flex;
    justify-content: center;
  }
  } 
 

  //price

  .list-boxs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  //feetback
  .feetback {
    padding: $adaptivepadding2;
    &__inner {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  }
  .feetback__video-content {
    justify-content: center;
    flex-wrap: wrap;
  }
  .feetback__item {
    max-width: 500px;
    max-height: 300px;
  }
  .modal{
    &__inner {
      flex-direction: column-reverse;
      gap: 0;
    }
    
    &__letter {
      display: flex;
      flex-direction: row;
      margin-top: 30px;
    
      img {
        width: 50%;
      }
    }
    // &__logo {
    //   display: block;
    //   margin: 0 auto;
    //   width: 40%;
    // }
  }
  
  .club__item{
    margin-top: 8px;
  }
  .sponsors__inner{
    align-items: center;
    justify-content: center;
    text-align: center;
    img{
      width: 10%;
      
    }
  }
  .sponsors{
    margin-top: 70px;
  }
  .footer{
    padding: 70px 0 10px;
  }
}
  @media (max-width: 480px) {
    .container {
      max-width: 450px;
    }

    .nav {
      &__logo {
        display: none;
      }
      &__item {
        font-size: 14px;
      }
      &__list {
        right: 4%;
      }
      &__item {
        // background: rgba(0, 0, 0, 0.4);
        border-radius: 15px;
        text-shadow: 0px 0px 4px #000;
      }
    }

    //info
    .info{
      padding: 0 5px;
      &__text{
        margin-bottom: 20px;
      }
      &__frame iframe {
        width: 360px;
        height: 330px;
        transform: translate(0, 0);
      }
    }
    

    //stages
    .stages {
      &__item:nth-child(2),
      &__item:nth-child(3),
      &__item:nth-child(4),
      &__item:nth-child(6),
      &__item:nth-child(1),
      &__item:nth-child(5) {
        grid-column: span 2;
        grid-row: span 2;
      }
    }

    .adaptive_stages__img svg {
      width: 400px;
      display: flex;
      justify-content: center;
    }
    .section-header{
      margin-bottom: 0;
    }
    .list-boxs{
      gap: 0;
    }
    //advantage
    .advantage {
      padding: 0;
      
      overflow: hidden;
      &__inner {
        grid-template-columns: repeat(1, 1fr);
      }
      &__content:nth-child(1),
      &__content:nth-child(5),
      &__content:nth-child(6) {
        background: $red;
        grid-column: span 1;
        grid-row: span 1;
        text-align: left;
      }
    }
    //feetback
    .feetback{
      padding: 30px 0;
      &__item {
       max-width: 400px;
       max-height: 250px;
}
    }
    
    .button__telegram {
      margin: 15px 5px 0px 5px;
      border-radius: 15px;
      padding: 5px 10px;
      font-size: 16px;
        
    }
   
  }

  @media(max-width: 380px){
    .menu {
      display: flex;
      position: relative;
    
      &__burger {
        cursor: pointer;
      }
    
      &__border {
        width: 30px;
        height: 2px;
        margin-top: 3px;
        margin-left: -10px;
        background: $white;
      }
    
      &__list {
        position: absolute;
        top: 20px;
        left: -70px;
        background-color: rgba(0, 0, 0, 1);
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
      }
    
      &__list--active {
        opacity: 1;
        visibility: visible;
        transition: all 0.3s ease-in-out;
      }
    
      &__item {
        color: $white;
        cursor: pointer;
      }
    
      &__link {
        display: block;
        width: 100%;
        padding: 5px 10px;
    
        &:hover {
          background-color: $red;
        }
      }
    }
    
    .nav__list {
      display: none;
    }
    
    .menu {
      display: flex;
      position: absolute;
      right: 40px;
      top: 15px;
      z-index: 10;
    }
    .info__text {
      margin-bottom: 20px;
    }
    
    .info__frame iframe {
      width: 100%;
      height: 350px;
      transform: translate(0, 0);
    }
  }
  @media (max-width: 320px) {
    .container {
      max-width: 300px;
    }
        .nav__list{
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          align-self: center;
        }
       
    .header__socials {
      width: 200px;
    }
      .info__text{
        margin-bottom: 20px;
      }
      .info__frame iframe {
        width: 300px;
        height: 280px;
        transform: translate(0, 0);
      }

    //training
    .adaptive_stages__img svg {
      width: 300px;
      display: flex;
      justify-content: center;
    }
    .feetback__item {
      max-width: 300px;
      max-height: 200px;
    }
  }

