.footer {
  background-color: rgb(24,24,24);
  text-align: center;
  padding: 150px 0 30px;
  color: $white;
  font-size: 14px;
  &__inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  // &__contacts {
  //   display: flex;
  //   justify-content: center;
  // }
  &__list {
    display: flex;
    // flex-direction: column;
    justify-content: center;
    margin-top: 15px;
    text-align: center;
    align-items: center;
  }
  &__item {
    margin-left: 5px;
    cursor: pointer;
    display: inline-block;
  }
  img {
    width: 70%;
  }
  &__contacts{
    
    background: rgb(24,24,24);
    overflow: hidden;
  }
}
.call {
  margin-top: 15px;
  border: 1px solid $white;
  padding: 10px 5px;
  width: 150px;
}
.call:hover {
  transition: all 0.5s linear;
  color: black;
  background: white;
}

.telegram {
  width: 82%;
}
.copyright {
  margin-top: 45px;
  cursor: pointer;
}
.copyright:hover {
  transition: transform 0.5s linear;
  transform: scale(1.1);
  border-bottom: 1px solid white;
}

.sponsors {
 
  background: rgb(24,24,24);
  align-items: center;
  margin-top: 100px;
  position: relative;
  overflow: hidden;

  &__inner {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    position: relative;
    animation: spons 10s infinite linear;
    img {
      width: 12%;
      filter: contrast(250%);
      margin-right: 50px;
      margin-top: 15px;
      display: inline-block;
    //  filter: brightness(-10%);
    }
  }
}

@keyframes spons {
  from {
    transform: translate3d(-1398.25px, 0px, 0px);
  }
  to {
    transform: translate3d(1398.25px, 0px, 0px);
  }
}
