.footer {
  background-color: $bg;
  text-align: center;
  padding: 150px 0 30px;
  color: $white;
  font-size: 14px;
  &__list {
    display: flex;
    justify-content: center;
    margin-top: 15px;
    text-align: center;
    align-items: center;
  }
  &__item {
    margin-right: 10px;
    cursor: pointer;
    display: inline-block;
  }
  img {
    width: 70%;
  }
}
.call {
  margin-top: 15px;
  border: 1px solid $white;
  padding: 10px 5px;
}

.telegram {
  width: 82%;
}
.copyright {
  margin-top: 45px;
}
