.footer {
  background-color: $bg;
  text-align: center;
  padding: 150px 0 30px;
  color: $white;
  font-size: 14px;
  // &__contacts {
  //   display: flex;
  //   justify-content: center;
  // }
  &__list {
    display: flex;
    // flex-direction: column;
    justify-content: center;
    margin-top: 15px;
    text-align: center;
    align-items: center;
  }
  &__item {
    margin-right: 10px;
    cursor: pointer;
    display: inline-block;
  }
  img {
    width: 70%;
  }
}
.call {
  margin-top: 15px;
  border: 1px solid $white;
  padding: 10px 5px;
}

.telegram {
  width: 82%;
}
.copyright {
  margin-top: 45px;
}

.sponsors {
  background: $bg;
  align-items: center;
  margin-top: 200px;
  position: relative;

  &__inner {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    position: relative;

    img {
      width: 20%;
      filter: contrast(250%);
      margin-right: 25px;
      margin-top: 15px;
      display: inline-block;
    }
  }
  &__animate-1 {
    position: absolute;
    top: 10px;
  }
  &__animate-2 {
    position: absolute;
    top: 10px;
  }
}
