header {
  overflow: hidden;
  height: 100vh;
  position: relative;

  .video {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}
.header::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}
.nav {
  top: 10px;
  display: flex;
  justify-content: space-between;
  &__logo {
    position: absolute;
    top: 15px;
    left: 50px;
    color: $white;
  }
  &__list {
    display: flex;
    position: absolute;
    right: 50px;
    top: 15px;
    z-index: 10;
  }
  &__item:not(:last-child) {
    margin-right: 20px;
  }
  &__text:hover {
    transition: all 0.2s linear;
    margin-top: -5px;
    border-bottom: 2px solid $red;
  }
  &__text {
    color: $white;
    line-height: 22px;
    display: block;
  }
  &__link {
    scroll-behavior: smooth;
    transition: scroll-behavior 2s ease-in-out;
  }
}
.header__socials {
  position: absolute;
  bottom: 15px;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  .socials__link {
    margin-right: 15px;
    cursor: pointer;
    display: inline-block;
  }
}
.header__socials a:hover {
  transform: translateY(-15px);

  transition: all 0.2s ease-in;
}
.socials__img {
  width: 70%;
}
.telegram {
  width: 82%;
}
.menu {
  display: none;
}
