.info {
  background-color: $bg;
  color: $white;
  padding: 100px 0;
  min-height: 100vh;
  &__inner {
    display: flex;
    justify-content: space-between;
  }
  &__text {
    font-size: 22px;
    line-height: 30px;
    max-width: 500px;
    padding: 0 5px;
    text-align: left;
  }
  &__span {
    background: $red;
    border-radius: 10px;
  }
}

.info__frame {
  max-width: 700px;
}
