.modal {
  padding-top: 30px;
  position: relative;
  background-color: rgb(24, 24, 24);
  
  &__letter img{
    
      margin-top: 50px;
      width: 47%;
  }
  &__inner {
    display: flex;
    justify-content: space-between;
    gap: 50px;
  }
  
}

.club {
  color: $white;
  font-size: 18px;
  line-height: 24px;
  

  &__title {
    color: $white;
    &-img{
      width: 80%;
    }
   
    &-span a{
          margin-top: 10px;    
    }
    
  }
 &__link a{
  display: block;
  
 }
  &__logo {
    width: 60%;
  
  }
  &__text{
      margin-top: 50px;
      }
  &__img{
    display: flex;
    justify-content: space-between;
      
  }
  &__list{
    margin-top: 30px;    
  }
  &__item{
    margin-top: 15px;
    font-size: 20px;
    &:last-child{
      font-size: 18px;
    }
  }
  &__img img{
    margin-top: 50px;
    width: 47%;
  }
}

.recl{
  margin-bottom: 50px;
  
  
  &-1{
    width: 800px;
    background: $red;
    height: 5px;
    margin-top: 10px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
  }
  &-2{
    width: 600px;
    height: 5px;
    background: $red;
    margin-top: 10px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
  }
  &-3{
    width: 400px;
    height: 5px;
    background: $red;
    margin-top: 10px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
  }
}

