.modal {
  padding: 200px 0;
  min-height: 700px;
  position: relative;
  background-color: $bg;
  img {
    margin-top: 50px;
    width: 100%;
    opacity: 0.5;
  }
  &__inner {
    display: flex;
    justify-content: space-between;
    gap: 50px;
  }
  &__price {
    border-radius: 29px;
    background: linear-gradient(315deg, #ffffff, #e6e6e6);
    box-shadow: -44px -44px 11px $grey, 44px 44px 11px $red;
    width: 500px;
    height: 400px;
    form {
      margin-top: 50px;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
  &__input {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid white;
    font-size: 24px;
    line-height: 30px;
    margin: 15px;
    padding: 5px 10px;
    width: 100%;
    &:focus {
      outline: 1px solid $red;
    }
  }

  &__btn {
    background: $red;
    margin-top: 30px;
    border-radius: 29px;
    box-shadow: 5px 5px 11px $red;
    width: 70%;
  }
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"],
input[type="number"]:hover,
input[type="number"]:focus {
  appearance: none;
  -moz-appearance: textfield;
}

.club {
  
  color: $white;
  font-size: 18px;
  line-height: 24px;

  &__title {
    color: $white;
  }
  &__text{
    margin-top: 50px;
    
  }
  &__img{
    display: flex;
    justify-content: space-between;
  }
  &__list{
    margin-top: 30px;
  }
  &__item{
    margin-top: 15px;
    font-size: 20px;
    &:last-child{
      font-size: 18px;
    }
  }
  img {
    width: 47%;
  }
}

