.modal {
  padding-top: 30px;
  position: relative;
  background-color: rgb(24, 24, 24);
  &__letter{
    cursor: pointer;
  }
  &__inner {
    display: flex;
    justify-content: space-between;
    gap: 50px;
  }
  &__logo {
    display: none;
   
  }
  img {
    margin-top: 50px;
    width: 47%;
  }
  
}

.club {
    color: $white;
  font-size: 18px;
  line-height: 24px;
  
  &__title {
    color: $white;
  }
  &__text{
    margin-top: 50px;
    object-fit: right;
  }
  &__img{
    display: flex;
    justify-content: space-between;
      
  }
  &__list{
    margin-top: 30px;
  }
  &__item{
    margin-top: 15px;
    font-size: 20px;
    &:last-child{
      font-size: 18px;
    }
  }
}

.recl{
  margin-bottom: 50px;
  
  
  &-1{
    width: 800px;
    background: $red;
    height: 5px;
    margin-top: 10px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
  }
  &-2{
    width: 600px;
    height: 5px;
    background: $red;
    margin-top: 10px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
  }
  &-3{
    width: 400px;
    height: 5px;
    background: $red;
    margin-top: 10px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
  }
}
