.stages {
  background: $bg;
  padding: 150px 0;
  color: $white;
  &__inner {
    margin-top: 100px;
    padding: 0 5px;
  }
  &__title {
    font-size: 50px;
    line-height: 50px;
    color: $red;
    padding-top: 50px;
  }

  &__subtitle {
    margin: 50px 0;
    font-size: 24px;
    line-height: 30px;
  }
  &__list {
    margin-top: 30px;
    font-size: 20px;
    line-height: 28px;
  }
  &__item {
    margin-top: 30px;
  }
  &__span {
    font-size: 36px;
    color: $red;
    font-weight: 700;
    margin-right: 10px;
  }
}

.svg__text {
  animation: text 2s infinite linear;
}
.svg__text {
  font-size: 25px;
}

.bwl {
  stroke-dashoffset: 1000;
  stroke-dasharray: 1000;
  animation: line 5s infinite 1s;
}
.lv {
  animation: line 3s infinite 5s;
}
@keyframes line {
  to {
    stroke-dashoffset: 1;
  }
}
