.training {
  position: relative;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  background: #000;
  img {
    width: 100%;
  }
  &__title {
    font-size: 38px;
    max-width: 370px;
  }
  &__text {
    font-size: 22px;
    line-height: 30px;
  }
}
.ofp {
  margin-left: -140px;
}
.sidebar {
  width: 35%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: transform 0.5s ease-in-out;

  &__content {
    height: 100%;
    max-width: 370px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    color: $white;
    text-shadow: 1px 1px 10px rgb(200, 200, 200);
    margin: 0 30px;
    text-align: left;
  }
}

.main__slide {
  height: 100%;
  position: absolute;
  top: 0;
  left: 35%;
  width: 65%;
  transition: transform 0.5s ease-in-out;
  > div {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 100%;
    width: 100%;
  }
}
button {
  border: none;
  cursor: pointer;
  font-size: 16px;
  padding: 15px;
  &:hover {
    color: #222;
  }
  &:focus {
    outline: none;
  }
}

.arrow button {
  position: absolute;
  left: 35%;
  top: 50%;
  z-index: 10;
  background: $red;
}
.arrow .down-button {
  transform: translateX(-100%);
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.arrow .up-button {
  transform: translateY(-100%);
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.arrow-up {
  transform: rotate(180deg);
}
